<div class="wrapper">

  <div class="inside">

    <section>
      <a href="https://davidelyosef.firebaseapp.com/" target="_blank">
        &copy; Developed by David-el Yosef
      </a>
    </section>

    <div class="logos">
      <a href="https://github.com/davidelyosef">
        <img src="assets/github-white.png" alt="david el yosef github">
      </a>
      <a href="mailto:davidyf96@gmail.com">
        <img src="assets/email.png" alt="david el yosef email">
      </a>
      <a href="https://www.linkedin.com/in/david-el-yosef-5736b7196/">
        <img src="assets/linkedin.png" alt="david-el-yosef-linkdedin">
      </a>
    </div>

  </div>

</div>
