
@font-face {
    font-family: lobster;
    src: url(../../../assets/fonts/Lobster-Regular.ttf);
}

@font-face {
    font-family: lemonade;
    src: url(../../../assets/fonts/Lemonada-VariableFont_wght.ttf);
}

div {
    background-color: #000000eb;
    box-shadow: 0 0 146px -20px #540000 inset;
}