div {
  text-align: center;
  border-bottom: 1px solid black;

  h1 {
    display: inline-block;
    position: relative;
    color: #fff;
    font-family: lobster;
    margin-top: 12px;
    margin-bottom: 10px;
  }
}
