.cocktailCard {
    text-align: center;
    width: 40%;
    max-width: 320px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    vertical-align: top;

    img {
        margin: auto;
        width: 100%;
    }

    p {
        font-size: 1.5rem;
        font-family: lemonade;
    }
}